body{
  padding: 10px;
  background-color: black;
  color: white;
}

header{
  background-color: grey;
  padding: 4px;
}

.flex-box{
  display: inline-flex;
  background-color: DodgerBlue;
}

.flex-box > div {
  background-color: grey;
  margin-top: 8px;
  margin-bottom: 5;
}
